{% extends "template.html" %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/account.css') }}"/>
{% endblock css %}
{% block content %}
  <h1> Account Info</h1>
  <div class="table-container">  
    <table id="accountInfo">
      <thead>
        <tr>
          <th>Category</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{ current_user.name }}</td>
        </tr>
        <tr>
          <td>Username</td>
          <td>{{ current_user.username }}</td>
        </tr>
        <tr>
          <td>Email</tdd>
          <td>{{ current_user.email }}</td>
        </tr>
        <tr>
          <td>Quizzes played</td>
          <td>{{ leaderboard|length }}</td>
        </tr>
        <tr>
          <td>Average Score</td>
          <td>{{ avg_score }} %</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h1> User Scores</h1>
  <div class="table-container">
    <div class="filter">
      <input type="text" placeholder="Type to search.." id="filter">
    </div>
    <table id="leaderboardTable">
      <tr>
        <th onclick="sortTable(0)">Category <i class="fa fa-sort"></th>
        <th onclick="sortTable(1)">Score <i class="fa fa-sort"></th>
        <th onclick="sortTable(3)">Date <i class="fa fa-sort"></th>
        <th style="display: none;">Id</th>
      </tr>
      <tbody id="leaderboardTableBody">
        {% for item in leaderboard: %}
          <tr>
            <td>{{ item['Category'] }}</td>
            <td>{{ item['Score'] }} %</td>
            <td>{{ item['Timestamp'] }}</td>
            <td style="display: none;">{{ item['ID'] }}</td>
          </tr>
        {% endfor %}
      </tbody>  
    </table>
  </div>
  <script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("leaderboardTable");
      switching = true;
      dir = "asc"; 
      while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          if (dir == "asc") {
            if(n == 4) {
              if(Number(x.innerHTML) > Number(y.innerHTML)) {
                shouldSwitch = true;
                break;
              }
            }
            else if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              shouldSwitch= true;
              break;
            }
          } else if (dir == "desc") {
            if(n == 4) {
              if(Number(x.innerHTML) < Number(y.innerHTML)) {
                shouldSwitch = true;
                break;
              }
            }
            else if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount ++;      
        } else {
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
    $(document).ready(function(){
      $("#filter").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#leaderboardTableBody tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>
{% endblock content %}