span img {
	width: 135px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 10px;
}

.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  padding-bottom: 22px;
}

.matter {
  padding: 0px 16px 16px 16px;
  border: 2px solid black;
  border-radius: 4px;
  margin: 8px 0;
  border: 1px solid #ccc;
  color: #000!important;
  background-color: #f1f1f1!important;
}

.matter p {
	font-size: 16px;
	text-align: justify;
	line-height: 24px;
	text-indent: 30px;
}

code.dark {
  background-color: rgba(0,0,0,0.1);
  font-style: italic;
  font-size: 16px;
}